[Unit]
Description=Agent< Secret Rotation Service

[Service]
Type=oneshot
ExecStart=/bin/bash __ROTATION_SCRIPT__ --auto
StandardOutput=journal
StandardError=journal
SyslogIdentifier=agentless-rotate

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
