# ---Default ruleset---
# This is the default ruleset following the base CIS Ubuntu Server benchmark audit recommendations, plus using best practices found in https://github.com/Neo23x0/auditd/blob/master/audit.rules
# Serves as a starting point for further customization according to your environment.

# First rule - delete all
-D

# Increase the buffers to survive stress events.
# Make this bigger for busy systems
-b 8192

# Set failure mode to syslog
-f 1

# Ignore current working directory records
-a always,exclude -F msgtype=CWD

# Auditd configuration
-a always,exit -F arch=b32 -F dir=/etc/audit/ -F perm=wa -F auid!=unset -k auditconfig

# Monitor for use of audit management tools
-a always,exit -F arch=b32 -S execve,execveat -F exe=/sbin/auditctl -F auid!=unset -k audittools
-a always,exit -F arch=b32 -S execve,execveat -F exe=/sbin/auditd -F auid!=unset -k audittools
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/sbin/auditd -F auid!=unset -k audittools
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/sbin/augenrules -F auid!=unset -k audittools

# Access to all audit trails
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/sbin/ausearch -F auid!=unset -k audittools
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/sbin/aureport -F auid!=unset -k audittools
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/sbin/aulast -F auid!=unset -k audittools
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/sbin/aulastlogin -F auid!=unset -k audittools
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/sbin/auvirt -F auid!=unset -k audittools

# Sensitive file modifying
# Editing these files can change or break the behavior of system users and grant privileges
# System groups
-a always,exit -F arch=b32 -F path=/etc/group -F perm=wa -F auid!=unset -k identity_mod
# System users
-a always,exit -F arch=b32 -F path=/etc/passwd -F perm=wa -F auid!=unset -k identity_mod
# Password for each group
-a always,exit -F arch=b32 -F path=/etc/gshadow -F perm=wa -F auid!=unset -k identity_mod
# System user passwords
-a always,exit -F arch=b32 -F path=/etc/shadow -F perm=wa -F auid!=unset -k identity_mod
# Storage of old passwords
-a always,exit -F arch=b32 -F path=/etc/security/opasswd -F perm=wa -F auid!=unset -k identity_mod
# Name service switch configuration
-a always,exit -F arch=b32 -F path=/etc/nsswitch.conf -F perm=wa -F auid!=unset -k identity_mod
# PAM config files directory
-a always,exit -F arch=b32 -F dir=/etc/pam.d -F perm=wa -F auid!=unset -k identity_mod

# Permission modification
# Can be used to grant execution to scripts/binaries or read access to sensitive files
-a always,exit -F arch=b32 -S chmod,fchmod,fchmodat -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b32 -S chown,lchown,fchown,fchownat -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b32 -S setxattr,lsetxattr,fsetxattr,removexattr,lremovexattr,fremovexattr -F auid>=1000 -F auid!=unset -k perm_mod

# Mounts by unprivileged users
# Mounting by user other than root is rare and unusual
-a always,exit -F arch=b32 -S mount -F auid>=1000 -F auid!=unset -k mounts

# Sudoers modification
# Changes in sudoers files can alter regular or administrative user privileges, which may be abused
-a always,exit -F arch=b32 -F path=/etc/sudoers -F perm=wa -F auid!=unset -k sudoers_mod
-a always,exit -F arch=b32 -F dir=/etc/sudoers.d -F perm=wa -F auid!=unset -k sudoers_mod

# Temporary privilege escalations (e.g. sudo)
# Commands executed with elevated privileges may be used maliciously
-a always,exit -F arch=b32 -C euid!=uid -S execve -F auid!=unset -k user_emulation

# Time-related events
# System date/time changes can be used to disrupt investigation and services which rely on accurate time
# Tune kernel clock
-a always,exit -F arch=b32 -S adjtimex,settimeofday -F auid!=unset -k time_change
# Set time using timeval and timezone
-a always,exit -F arch=b32 -S clock_settime -F auid!=unset -k time_change
# Sets internal clocks and timers
-a always,exit -F arch=b32 -F path=/etc/localtime -F perm=wa -F auid!=unset -k time_change

# Network environment changes - hostname, domain name, etc.
# Helps identify unauthorized host/domain name edits, network interface editing
-a always,exit -F arch=b32 -S sethostname,setdomainname -F auid!=unset -k system_env
-a always,exit -F arch=b32 -F path=/etc/issue -F perm=wa -F auid!=unset -k system_env
-a always,exit -F arch=b32 -F path=/etc/issue.net -F perm=wa -F auid!=unset -k system_env
# Hostnames and associated IP addresses
-a always,exit -F arch=b32 -F path=/etc/hosts -F perm=wa -F auid!=unset -k system_env
# Symbolic names for networks
-a always,exit -F arch=b32 -F path=/etc/networks -F perm=wa -F auid!=unset -k system_env
-a always,exit -F arch=b32 -F dir=/etc/network -F perm=wa -F auid!=unset -k system_env
# Network interface scripts and config files
-a always,exit -F arch=b32 -F dir=/etc/netplan -F perm=wa -F auid!=unset -k system_env

# Unsuccessful file access attempts
-a always,exit -F arch=b32 -S creat,open,openat,truncate,ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=unset -k failed_access
-a always,exit -F arch=b32 -S creat,open,openat,truncate,ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=unset -k failed_access

# Session initiation events
# Monitoring session creation time could inform about unusual login times
# All currently logged in users
-a always,exit -F arch=b32 -F path=/var/run/utmp -F perm=wa -F auid!=unset -k session
-a always,exit -F arch=b32 -F path=/var/log/tallylog -F perm=wa -F auid!=unset -k session
# Logins, logouts, shutdowns, reboots
-a always,exit -F arch=b32 -F path=/var/log/wtmp -F perm=wa -F auid!=unset -k session
-a always,exit -F arch=b32 -F path=/var/log/lastlog -F perm=wa -F auid!=unset -k session
# Failed login attempts
-a always,exit -F arch=b32 -F path=/var/log/btmp -F perm=wa -F auid!=unset -k session
-a always,exit -F arch=b32 -F path=/var/log/faillog -F perm=wa -F auid!=unset -k session

# File deletion
-a always,exit -F arch=b32 -S unlink,unlinkat,rename,renameat -F auid>=1000 -F auid!=unset -k file_delete

# MAC policy changes
# Changes to AppArmor profiles can alter system behavior or grant additional privileges
-a always,exit -F arch=b32 -F dir=/etc/apparmor -F perm=wa -F auid!=unset -k MAC_policy
-a always,exit -F arch=b32 -F dir=/etc/apparmor.d -F perm=wa -F auid!=unset -k MAC_policy

# These commands can be used to alter ACLs or the security context
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/chcon -F auid>=1000 -F auid!=unset -k conf_chcon
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/setfacl -F auid>=1000 -F auid!=unset -k conf_setfacl
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/chacl -F auid>=1000 -F auid!=unset -k conf_chacl

# User account modification
# Usermod can be used to grant, edit or revoke privileges
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/sbin/usermod -F auid>=1000 -F auid!=unset -k usermod

# Kernel module loading
-a always,exit -F arch=b32 -S init_module,delete_module,finit_module -F auid>=1000 -F auid!=unset -k kernel_modules
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/kmod -F auid>=1000 -F auid!=unset -k kernel_modules

# Firewall events
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/sbin/ufw -F auid>=1000 -F auid!=unset -k firewall
-a always,exit -F arch=b32 -F dir=/etc/ufw/ -F perm=wa -F auid>=1000 -F auid!=unset -k firewall

# Systemd events - related to services, units, timers - sensitive,, method of persistance
-a always,exit -F arch=b32 -S execve,execveat -F exe=/bin/systemctl -F auid>=1000 -F auid!=unset -k systemd_monitoring
-a always,exit -F arch=b32 -F dir=/etc/systemd/   -F perm=wa -F auid>=1000 -F auid!=unset -k systemd_monitoring

# Cron events - cron can be used to gain persistence on target system
-a always,exit -F arch=b32 -F path=/etc/cron.allow     -F auid!=unset -k cron_events
-a always,exit -F arch=b32 -F path=/etc/cron.deny      -F auid!=unset -k cron_events
-a always,exit -F arch=b32 -F dir=/etc/cron.d/         -F auid!=unset -k cron_events
-a always,exit -F arch=b32 -F dir=/etc/cron.daily/     -F auid!=unset -k cron_events
-a always,exit -F arch=b32 -F dir=/etc/cron.hourly/    -F auid!=unset -k cron_events
-a always,exit -F arch=b32 -F dir=/etc/cron.monthly/   -F auid!=unset -k cron_events
-a always,exit -F arch=b32 -F dir=/etc/cron.weekly/    -F auid!=unset -k cron_events
-a always,exit -F arch=b32 -F path=/etc/crontab        -F auid!=unset -k cron_events
-a always,exit -F arch=b32 -F dir=/var/spool/cron/     -F auid!=unset -k cron_events

# Reconnaissance
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/whoami -F auid>=1000 -F auid!=unset -k recon
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/id -F auid>=1000 -F auid!=unset -k recon
-a always,exit -F arch=b32 -S execve,execveat -F exe=/bin/hostname -F auid>=1000 -F auid!=unset -k recon
-a always,exit -F arch=b32 -S execve,execveat -F exe=/bin/uname -F auid>=1000 -F auid!=unset -k recon
-a always,exit -F arch=b32 -F path=/etc/issue -F perm=r -F auid>=1000 -F auid!=unset -k recon
-a always,exit -F arch=b32 -F path=/etc/hostname -F perm=r -F auid>=1000 -F auid!=unset -k recon

# Suspicious activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/wget -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/curl -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/base64 -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/bin/nc -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/bin/netcat -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/ncat -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/ss -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/netstat -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/ssh -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/scp -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/sftp -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/ftp -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/socat -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/wireshark -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/tshark -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/rawshark -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/rdesktop -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/local/bin/rdesktop -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/wlfreerdp -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/xfreerdp -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/local/bin/xfreerdp -F auid>=1000 -F auid!=unset -k susp_activity
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/nmap -F auid>=1000 -F auid!=unset -k susp_activity

# Credential/string searching
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/grep -F auid>=1000 -F auid!=unset -k string_search
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/egrep -F auid>=1000 -F auid!=unset -k string_search
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/ugrep -F auid>=1000 -F auid!=unset -k string_search

# https://github.com/tmbinc/bgrep
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/bgrep -F auid>=1000 -F auid!=unset -k string_search

# https://github.com/BurntSushi/ripgrep
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/rg -F auid>=1000 -F auid!=unset -k string_search

# https://github.com/awgn/cgrep
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/cgrep -F auid>=1000 -F auid!=unset -k string_search

# https://github.com/jpr5/ngrep
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/ngrep -F auid>=1000 -F auid!=unset -k string_search

# https://github.com/vrothberg/vgrep
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/vgrep -F auid>=1000 -F auid!=unset -k string_search

# https://github.com/monochromegane/the_platinum_searcher
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/pt -F auid>=1000 -F auid!=unset -k string_search

# https://github.com/gvansickle/ucg
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/ucg -F auid>=1000 -F auid!=unset -k string_search

# https://github.com/ggreer/the_silver_searcher
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/ag -F auid>=1000 -F auid!=unset -k string_search

# https://github.com/beyondgrep/ack3
# https://beyondgrep.com
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/ack -F auid>=1000 -F auid!=unset -k string_search
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/local/bin/ack -F auid>=1000 -F auid!=unset -k string_search
-a always,exit -F arch=b32 -S execve,execveat -F exe=/usr/bin/semgrep -F auid>=1000 -F auid!=unset -k string_search

# SUID root execution
-a always,exit -F arch=b32 -S execve,execveat -C uid!=euid -F euid=0 -F auid>=1000 -F auid!=unset -k suid_root_exec

# Root key access
-a always,exit -F arch=b32 -F dir=/root/.ssh -F perm=wa -F auid!=unset -k rootkey

# Successful network connections
-a always,exit -F arch=b32 -S connect -F a2=16 -F success=1 -k network_connect_4
# ipv6
-a always,exit -F arch=b32 -S connect -F a2=28 -F success=1 -k network_connect_6 

# Network socket creation
-a always,exit -F arch=b32 -S socket -F a0=2  -k network_socket_created
-a always,exit -F arch=b32 -S socket -F a0=10 -k network_socket_created

# Anonymous file creation
-a always,exit -F arch=b32 -S memfd_create -k anon_file_create

# Make the config immutable
-e 2